---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #666;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;


//custom styling


.sep-sep {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

.post {
    h2 { margin-bottom: 0; }
    .post-link { font-size: 18px; }
    border: 1px solid rgb(224, 224, 224); 
    padding: 10px 15px !important; 
    .post-meta { line-height: 10px; }
    background-color: #FCFCFC; 
    margin-bottom: 40px; 
    border-radius: 5px;
}

.post {
    padding: 15px;
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    p { margin: 10px 0 }
}

a { color: #d8911e !important; }

* { -webkit-font-smoothing: antialiased; }