
<div class="aa">
  <style>
    .aa{padding:10px;background:#f5f5f5;overflow:auto;}
    .aa img{float:left;max-width:20%;margin-right:10px;}
    .aa p{font-size:13px;line-height:20px;margin-bottom:0;}
  </style>
  <img src="/img/authors/tomassetti.jpg" alt="Federico Tomassetti">
  <header>About the author: <b>Federico&nbsp;Tomassetti</b></header>
  <p>
    I am a Software Engineer passionate about DSLs, MDD, and polyglot development.<br>
    I have done a few things: Consulting, teaching and working as a Software Engineer at TripAdvisor and Groupon. 
    I got my PhD at the Politecnico di Torino, spent a semester at the Karlsruhe Universität and one at the Technische Universität München. 
    You can find me on 
    <a href="http://tomassetti.me/" target="_blank">my blog</a>, 
    <a href="http://ie.linkedin.com/in/federicotomassetti" target="_blank">LinkedIn</a>,
    and
    <a href="http://github.com/ftomassetti" target="_blank">GitHub</a>
  </p>
</div>