* {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
  color: #666;
}
body {
  margin: 0 0 30px;
}
img {
  border: 0
}
ul {
  list-style: circle;
}
ol li, 
ul li {
  margin: 5px 0;
}
b {
  font-weight: 700;
}
p { 
  line-height: 24px; 
  text-align: justify;
}
h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  margin: 10px 0 5px 0
}
h1 { font-size: 26px }
h2 { font-size: 22px }
h3 { font-size: 20px }
footer {
  background: #333;
  color: #fff;
  text-align: center;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: #ec9b17
}
a:hover {
  color: #c07d10
}
main {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 15px 15px 15px;
  overflow: hidden;
}
p code,
li code {
    padding: 1px 3px;
    background: #eee;
    border-radius: 3px;
    font-weight: 700;
}
pre {
  font-size: 15px;
}
samp {
    font-size: 15px;
    font-weight: bold;
}
#logo {
  float: left
}
#logo img {
  height: 60px;
  padding: 12px 0 8px 0
}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  height: 80px
}
nav ul {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  height: 80px;
  list-style: none
}
nav li {
  float: right;
  padding: 50px 10px 0 10px;
  margin: 0;
}
nav li a {
  color: #333
}
nav li:first-child {
  padding: 0
}
nav li:nth-child(2) {
  padding-right: 0
}
.padding-hack {
  height: 80px
}
#video-tuts h2 {
    margin: 20px 0 0;
}
#video-tuts h3 {
    margin: 20px 0 0;
}
#tut-nav {
  width: 200px;
  position: fixed;
  left: 50%;
  padding: 0;
  margin-left: 430px;
  list-style: none;
  top: 100px;
  z-index: 999999
}
#tut-nav li {
  font-size: 14px;
  margin-bottom: 10px
}
#tut-nav a {
  text-decoration: none
}
#tut-nav a:hover {
  color: #c07d10;
  text-decoration: underline
}
#some-buttons {
  position: fixed;
  left: 50%;
  margin-left: 214px;
  top: 15px;
  z-index: 9999
}
#some-buttons img {
  height: 20px;
  width: 20px
}
#some-buttons a {
  float: right;
  margin-left: 8px;
  opacity: .6;
}
#some-buttons a:hover {
  opacity: 1;
}
#githubStar {
  float: right;
  width: 95px;
  height: 20px;
  margin-left: 8px;
  position: relative;
}
#starBg, #starFrame {
  position: absolute;
}
.posts .post p:first-of-type {
  margin-top: 0px;
}
.post h2 {
  margin-bottom: 0px;
}
article.post h2, article.post h3 {
  margin-top: 40px;
}
article.post h2 + p, article.post h3 + p {
  margin-top: 5px;
}
.post ul li, .post ol li {
  margin: 10px;
}
.post {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 35px;
}
.post img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.post .comment {
    font-size: 14px;
    color: #777;
    font-style: italic;
}
.img-bordered {
  border: 1px solid #ddd;
}
.post:last-of-type {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}
.post-meta {
  background-color: #f0f0f0;
  display: inline-block;
  padding: 3px 6px;
  margin: 3px 0 4px;
  border-radius: 3px;
  font-size: 13px;
  color: #888;
}
article .post-meta {
    width: 100%;
}
.post-meta #timeToRead {
    float: right;
    font-size: 21px;
}
.notification {
    margin-top: 30px;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 5px;
  vertical-align: -0.5em;
}
blockquote p {
  line-height: 200%;
  display: inline;
}
strong {
  font-weight: 700;
}
