<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cloud Contacts</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="css/main.css">
 	<!-- <link rel="stylesheet" type="text/css" href="css/datatables.min.css"> -->
 	<link rel="stylesheet" type="text/css" href="css/split-pane.css">

 	<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
 	<script type="text/javascript" src="js/bootstrap.min.js"></script>
 	<script type="text/javascript" src="js/datatables.min.js"></script>
 	<script type="text/javascript" src="js/dataTables.fixedHeader.min.js"></script>
 	<script type="text/javascript" src="js/split-pane.js"></script>
</head>
<body>
	

<div class="row">
	
	<div class="col-sm-offset-1 col-sm-4" id="detailsColumn">
			<!-- button row -->
			<div class="row text-center" id="btrow">
				<input type="button" name="newBt" id="newBt" value="NEW" />
				<input type="button" name="deleteBt" id="deleteBt" value="DELETE" />
				<input type="button" id="editBt" name="editBt" value="EDIT" />
				<input type="button" id="saveBt" name="saveBt" value="SAVE" />
			</div>


			<div class="row" id="detailsRow">
				
				<!-- details header -->
				<div class="row" id="detailsHeader">
					<h3 id="detailsText">CONTACT DETAILS</h3>
				</div>

				<!-- details body -->
				<div class="row" id="detailsBody">

						<!-- details icon row-->
						<div class="row" id="detailsIconRow">

								<div class="col-sm-3" id="iconCol">
									<img src="./images/ic_male_user.png">
								</div>

								<div class="col-sm-3 text-center" id="editBtCol">
									<!-- <input type="button" id="editBt" name="editBt" value="EDIT" />
									<br>
									<input type="button" id="saveBt" name="saveBt" value="SAVE" /> -->
								</div>
						</div>
						<div class="row" id="detailsDataRow">
							<ul id="details">
								<li>
									<label for="viewFirstName">First Name: </label>
									<input class="dataView" type="text" name="viewFirstName" id="viewFirstName" value="Seun" disabled />
								</li>
								<li>
									<label for="viewLastName">Last Name: </label>
									<input class="dataView" type="text" name="viewLastName" id="viewLastName" value="Matt" disabled/>
								</li>
								<li>
									<label for="viewMiddleName">Middle Name: </label>
									<input class="dataView" type="text" name="viewMiddleName" id="viewMiddleName" value="M." disabled />
								</li>
								<li>
									<label for="viewMobile">Mobile: </label>
									<input class="dataView" type="phone" name="viewMobile" id="viewMobile" value="+2348113760927" disabled/>
								</li>
								<li>
									<label for="viewWork">Work: </label>
									<input class="dataView" type="phone" name="viewWork" id="viewWork" value="+2348113760927" disabled />
								</li>
								<li>
									<label for="viewFax">Fax: </label>
									<input class="dataView" type="text" id="viewFax" name="viewFax" value="3760927" disabled />
								</li>
								<li>
									<label for="viewHome">Home: </label>
									<input class="dataView" type="phone" name="viewHome" id="viewHome" value="+2348113760927" disabled/>
								</li>
								<li>
									<label for="viewEmail">Email: </label>
									<input class="dataView" type="Email" id="viewEmail" name="viewEmail" value="smatt382@gmail.com" disabled />
								</li>
								<li>
									<label for="viewAddress">Address: </label>
									<input class="dataView" type="text" id="viewAddress" name="viewAddress" value="Lagos, Nigeria" disabled />
								</li>
								<li>
									<label for="viewNote">Notes: </label> 
									<div  contenteditable="false" name="viewNote" id="viewNote">
										This is a typical note from dummy testers in the world
										This is a typical note from dummy testers in the world
										This is a typical note from dummy testers in the world
										This is a typical note from dummy testers in the world
										This is a typical note from dummy testers in the world
										This is a typical note from dummy testers in the world
										This is a typical note from dummy testers in the world

									</div>
								</li>		
							</ul>
						</div>
				</div>
			</div>	
		</div>
</div>


</body>
</html>