<!-- footer -->
	<div class="row text-center footer" id="footer">
    <div class="col-sm-2">
      <ul id="socialBt">
        <li><a href="http://facebook.com/seun.matt" target="blank"><img id="fbic" src="/./images/ic_facebook.png"/></a></li>
        <li><a href="http://twitter.com/@SeunMatt2" target="blank"><img id="twitteric" src="/./images/ic_twitter.png"/></a></li>
      </ul> 
    </div>
    <div class="col-sm-8">
      <p id="footertext">(c) 2016 Cloud Contacts | 
      <span id="footertxt2">Designed by </span><span id="footertext3"><a href="http://facebook.com/seun.matt">Seun Matt</a></span></p>
    </div>
    <div class="col-sm-2">
       <img id="chatic" src="/./images/ic_headset.png"/> <span id="footertext4">Chat with us </span>
    </div>
  </div>
