<!-- Modal -->
<div id="inputModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<span id="detailsText">CONTACT DETAILS</span>
	 </div>
      <div class="modal-body">

	<div class="row" id="detailsRow">
                                <input id="mode" name="mode" type="hidden" />
                                <input id="newId" name="viewId" type="hidden" />
                                <p id="logNewEdit" style="color:red;text-align:center;"></p>
				<!-- details body -->
				<div class="row" id="detailsBody">

						<!-- details icon row-->
			<div class="row" id="detailsIconRow">

				<div class="col-sm-3" id="iconCol">
					<img src="/./images/ic_male_user.png">
					 <span id="editPix" class="glyphicon glyphicon-camera"></span>
				</div>

				<div class="col-sm-9" id="editBtCol">
                         
                                    <div class="alert fade in" id="alertBoxModal" hidden>
                                        <span class="text-center">
                                            <strong id="logModal">OPERATION SUCCESSFUL</strong>
                                        </span>
                                    </div>
    
                                    <div class="progress waitLogo" style="width:25%;height:20px;margin:auto; margin-top: 20px; margin-bottom: 20px;" hidden>
                                        <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuenow="100" aria-valuemin="100" 
                                             aria-valuemax="100" style="width:100%; background-color:#104774;">
                                            processing . . .
                                        </div>
                                    </div>    
                                </div>
                                                          
                        </div>
						<div class="row" id="detailsDataRow">
                                                    <ul id="newDetails">
								<li>
									<label for="newFirstName">First Name: </label>
									<input class="dataInput" type="text" name="newFirstName" id="newFirstName" value=""   />
								</li>
								<li>
									<label for="newLastName">Last Name: </label>
									<input class="dataInput" type="text" name="newLastName" id="newLastName" value=""  />
								</li>
								<li>
									<label for="newMiddleName">Middle Name: </label>
									<input class="dataInput" type="text" name="newMiddleName" id="newMiddleName" value=""   />
								</li>
								<li>
									<label for="newMobile">Mobile: </label>
									<input class="dataInput" type="text" name="newMobile" id="newMobile" value=""  />
								</li>
								<li>
									<label for="newWork">Work: </label>
									<input class="dataInput" type="text" name="newWork" id="newWork" value=""   />
								</li>
								<li>
									<label for="newfax">Fax: </label>
									<input class="dataInput" type="text" id="newFax" name="newFax" value=""   />
								</li>
								<li>
									<label for="newHome">Home: </label>
									<input class="dataInput" type="text" name="newHome" id="newHome" value=""  />
								</li>
								<li>
									<label for="newEmail">Email: </label>
									<input class="dataInput" type="email" id="newEmail" name="newEmail" value=""   />
								</li>
								<li>
									<label for="newAddress">Address: </label>
									<input class="dataInput" type="text" id="newAddress" name="newAddress" value=""   />
								</li>
								<li>
									<label for="inputNote">Notes: </label> 
                                                                        <textarea name="inputNote" id="inputNote" placeholder="short notes goes here . . ."></textarea>
								</li>		
							</ul>
						</div>
					</div>
	</div>	
    </div>
    <div class="modal-footer">
        	<!-- button row -->
			<div class="row text-center" id="newBtrow">
				<input type="button" id="saveBt" name="saveBt" value="SAVE" />
				<input type="button" id="closeBt" data-dismiss="modal" name="closeBt" value="CLOSE" />
			</div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    
 $(".waitLogo, #alertBox").hide();
   
 $(document).ajaxStart( function() {
     $("#alertBoxModal").hide();
    $(".waitLogo").show();
 });

$(document).ajaxComplete( function () {
    setTimeout (
      function() {
        $(".waitLogo").hide();
        $("#alertBoxModal").show();

     }, 500);
});


$("#closeBt").click(function(event) {
   event.preventDefault();
   $("#inputModal").modal("hide");
   window.location.reload();
});
    
</script>