
<style type="text/css">
 		div#inputModal .modal-content {
 			/*border: 2px solid #104774 !important;*/
 			border-radius: 0px;
 		}

 		div#inputModal .modal-header {
 			padding-top: 3px;
 			background-color: #104774;
 			padding-bottom: 3px;
 			text-align: center;
 		}

 		div#inputModal .modal-body {
 			background-color: #fafafa !important;
 		}

 		div#inputModal .modal-footer {
 			background-color: #fafafa;
 			border: none;
 			padding-top: 0px;
 		}

 		#newBtRow {
 			padding-top: 5px;
			padding-bottom: 5px;
 		}

 		#editPix {
 			position: absolute;
 			left: 80px;
 			top: 50px;
 			font-size: 20px;
 			opacity: .7
 		}		


 	</style>
</head>
<body>
	

<!-- Modal -->
<div id="inputModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<span id="detailsText">CONTACT DETAILS</span>
	 </div>
      <div class="modal-body">

			<div class="row" id="detailsRow">

				<!-- details body -->
				<div class="row" id="detailsBody">

						<!-- details icon row-->
						<div class="row" id="detailsIconRow">

								<div class="col-sm-3" id="iconCol">
									<img src="./images/ic_male_user.png">
									 <span id="editPix" class="glyphicon glyphicon-camera"></span>
								</div>

								<div class="col-sm-3 text-center" id="editBtCol">
								</div>
						</div>
						<div class="row" id="detailsDataRow">
							<ul id="newDetails">
								<li>
									<label for="newFirstName">First Name: </label>
									<input class="dataInput" type="text" name="newFirstName" id="newFirstName" value="Seun"   />
								</li>
								<li>
									<label for="newLastName">Last Name: </label>
									<input class="dataInput" type="text" name="newLastName" id="newLastName" value="Matt"  />
								</li>
								<li>
									<label for="newMiddleName">Middle Name: </label>
									<input class="dataInput" type="text" name="newMiddleName" id="newMiddleName" value="M."   />
								</li>
								<li>
									<label for="newMobile">Mobile: </label>
									<input class="dataInput" type="phone" name="newMobile" id="newMobile" value="+2348113760927"  />
								</li>
								<li>
									<label for="newWork">Work: </label>
									<input class="dataInput" type="phone" name="newWork" id="newWork" value="+2348113760927"   />
								</li>
								<li>
									<label for="newfax">Fax: </label>
									<input class="dataInput" type="text" id="newFax" name="newFax" value="3760927"   />
								</li>
								<li>
									<label for="newHome">Home: </label>
									<input class="dataInput" type="phone" name="newHome" id="newHome" value="+2348113760927"  />
								</li>
								<li>
									<label for="newEmail">Email: </label>
									<input class="dataInput" type="email" id="newEmail" name="newEmail" value="smatt382@gmail.com"   />
								</li>
								<li>
									<label for="newAddress">Address: </label>
									<input class="dataInput" type="text" id="newAddress" name="newAddress" value="Lagos, Nigeria"   />
								</li>
								<li>
									<label for="inputNote">Notes: </label> 
									<div  contenteditable="true" name="inputNote" id="inputNote">
										Facebook id: facebook.com/seun.matt | @SeunMatt2
									</div>
								</li>		
							</ul>
						</div>
					</div>
			</div>	
      </div>
      <div class="modal-footer">
        	<!-- button row -->
			<div class="row text-center" id="newBtrow">
				<input type="button" id="saveBt" name="saveBt" value="SAVE" />
				<input type="button" id="closeBt" data-dismiss="modal" name="closeBt" value="CLOSE" />
			</div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	$("#inputModal").modal({backdrop:"static"});
</script>