<div class="alert fade in" id="alertBox" hidden>
    <span class="text-center"><strong id="log">OPERATION SUCCESSFUL</strong><span id="log"></span> <a href="#" id="alertCloseBt">Click here to Close And Refresh!</a></span>
</div>
    
    
  <div class="progress" id="waitLogo" style="width:25%;height:20px;margin:auto; margin-top: 20px; margin-bottom: 20px;" hidden>
    <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%; background-color:#104774;">
    processing . . .</div>
  </div>    


<script type="text/javascript">
    
// $("#waitLogo, #alertBox").hide();
//   
// $(document).ajaxStart( function() {
//    $("#waitLogo").show();
// });
//
//$(document).ajaxComplete( function () {
//    setTimeout (
//      function() {
//        $("#waitLogo").hide();
//        $("#alertBox").show();
//
//     }, 10);
//});
//
//
//$("#alertCloseBt").click(function(event){
//    event.preventDefault();
//    $("#alertBox").hide();
//    window.location.reload();
//});
    
</script>