<build>
	<plugins>
		<plugin>
			<groupId>org.apache.maven.plugins</groupId>
			<artifactId>maven-compiler-plugin</artifactId>
			<configuration>
				<source>${jdk.version}</source>
				<target>${jdk.version}</target>
			</configuration>
		</plugin>
	
		<plugin>
			<groupId>org.codehaus.mojo</groupId>
		  	<artifactId>exec-maven-plugin</artifactId>
		  	<version>1.2.1</version>
		  	<executions>
			    <execution>
			      <goals>
			          <goal>java</goal>
			      </goals>
		    	</execution>
		  	</executions>
		  	<configuration>
			    <mainClass>com.minitwit.App</mainClass>
			    <arguments></arguments>
			</configuration>
		</plugin>
	</plugins>
</build>
