<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {% include header.html %}
    <header>
        <nav>
            <ul>
                <li id="logo"><a class="site-title" href="{{ site.baseurl }}/"><img src="/img/logo.svg"></a></li>
                <li><a href="http://sparkjava.com" target="_blank">Go to sparkjava.com</a></li>
                {% for page in site.pages %} 
                    <li>{% if page.title %} <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %}</li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="padding-hack"></div>
    <main>
        <ul id="tut-nav">
            {% for post in site.posts %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        {{ content }}
    </main>
    <footer>
        The source code for this webpage is available on <a href="https://github.com/sparktutorials/sparktutorials.github.io" target="_blank">GitHub</a>.
        If you find any errors, please create a pull request. It will be merged swifly.
    </footer>
    <script src="/js/prism.js"></script>
    <script>
        loadCss("/css/prism.css");
        function loadCss(b){var c=document.createElement("link");c.rel="stylesheet";c.href=b;b=document.getElementsByTagName("head")[0];b.parentNode.insertBefore(c,b)}var d=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;d?d(a):window.addEventListener("load",a);
    </script>
</body>
</html>
