---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% if page.author %} 
                • Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %} 
            • Spark Framework Tutorials
            <span id="timeToRead"></span>
        </p>
    </header>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
        {% include calculateTimeToRead.html %}
    </div>
</article>
{% if page.comments %}
<p>You can discuss this post on our <a href="https://groups.google.com/forum/#!forum/sparkjava" target="_blank">Google Group</a>, or in the comment section below.</p>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sparktutorials';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
